<p id="notice"><%= notice %></p>

<p>
  <strong>Post id:</strong>
  <%= @comment.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to '<button class="btn btn-xs btn-default" role="button">Edit</button>'.html_safe, edit_comment_path(@comment) %> 
<%= link_to '<button class="btn btn-xs btn-default" role="button">Back</button>'.html_safe, comments_path %>
